body {
    display: flex;
    flex-direction: column; /* Ustawia elementy w kolumnie */
    justify-content: flex-start; /* Wyrównuje elementy do góry */
    align-items: center;
    height: 100vh; /* Pełna wysokość widoku */
    margin: 0; /* Usuwa domyślne marginesy */
    background-color: #f0f0f0; /* Jasne tło */
}

.round-button {
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    border-radius: 50%; /* Makes the button round */
    width: 60px; /* Equal width and height for a perfect circle */
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block; /* Allows spacing between buttons */
    margin: 10px; /* Adds spacing between buttons */
}

.round-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.round-button i {
    font-size: 24px; /* Rozmiar ikon */
    color: white; /* Kolor ikon */
}

.name-game {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun and playful font */
    font-size: 36px; /* Large font size */
    color: #FF6347; /* Tomato color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow for depth */
    text-align: center; /* Centers the text */
    margin: 20px 0; /* Adds spacing above and below */
    letter-spacing: 2px; /* Adds spacing between letters */
    animation: glow 1.5s infinite alternate; /* Glowing effect */
}

.container {
    display: flex;
    flex-direction: column; /* Ustawia przyciski w rzędzie */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@keyframes glow {
    from {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px #FF6347, 0 0 20px #FF6347;
    }
    to {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 20px #FF4500, 0 0 30px #FF4500;
    }
}

.result {
    font-family: 'Arial', sans-serif; /* Ustawienie czcionki */
    font-size: 24px; /* Rozmiar tekstu */
    color: #333; /* Kolor tekstu */
    text-align: center; /* Wyśrodkowanie tekstu */
    margin-top: 20px; /* Odstęp od góry */
    padding: 10px; /* Wewnętrzne odstępy */
    border: 2px solid #4CAF50; /* Zielona ramka */
    border-radius: 10px; /* Zaokrąglone rogi */
    background-color: #f9f9f9; /* Jasne tło */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtelny cień */
}